/* Feuille de styles CSS */

body {
    background-color: #eeeeee;
    border: #ffffff 2px;
    margin: 32px;
}

.style {
    font-family: sans-serif;
    text-align: justify;
}

.span1 {
    color:#007bff;
    font-style: italic;
}

.link {
    color: #007BFF;
    font-weight: bold;
    text-decoration: none ;
    
}

a:hover {
    text-decoration: underline;
}